@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.mic {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    height: 40vh;
    background-size: cover;
    border-radius: 8px;
}

.haed {
    color: white;
    font-family: "Roboto";
    margin: 9px;
    padding: 24px;
}

.container {
    height: 50vh;
    padding: 10px;
    margin: 0px;
}

.comtainer_p {
    height: 50px;
    margin: 11px;
    padding: 30px;
    margin: 30px;
}

.photo {
    height: 15vh;
    width: 30vw;
    padding: 12px;
    margin: 12px;
}

.name {
    color: #151765;
    text-align: center;
}

.show {
    color: #5a7184;
    text-align: center;
}

.container2 {
    height: 50vh;
    padding: 0px;
    margin: 10px;
}

.pj_head {
    background-color: #151765;
    height: 22vh;
    border-radius: 8px;
    margin: 8px;
    padding: 9px;
}

.con {
    padding: 9px;
}

.pa {
    color: white;
    font-family: "Roboto";
}

.pod {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.pj_head1 {
    background-color: white;
    height: 20vh;
    border-radius: 8px;
    margin: 8px;
    padding: 9px;
}

.pod1 {
    color: #151765;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
}

.ti {
    font-family: "Caveat";
    color: #151765;
    text-decoration: underline;
}

.pa1 {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
}

.f_1 {
    padding: 8px;
    height: 30vh;
    width: 40vw;
    margin: 14px;
}

.btn {
    background-color: #151765;
    color: white;
    align-content: center;
    padding: 8px;
    margin: 8px;
    height: 44px;
    width: 80px;
}

.bu {
    margin: 20px;
    padding: 8px;
}

.photo1 {
    height: 30vh;
    width: 40vw;
    padding: 12px;
    margin: 12px;
}